* {
  font-family: Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* NAVBAR */
.login {
  margin: 0;
}

/* HOMEPAGE */
.homepage-card-container a {
  text-decoration: none;
}
.homepage-card-container .property-type-card-text {
  text-align: end;
}

.homepage-card-container .likes-card-text {
  position: absolute;
  top: 10px;
  right: 17px;
  background-color: rgba(231, 231, 231, 0.5);
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.homepage-card-container .likes-card-text:hover {
  background-color: rgba(231, 231, 231, 1);
}

.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 2px 2px 10px #888888;
}

/* REVIEWS ITEMS */
.cards-review {
  height: 100%;
}

.review-user-photo {
  background-color: grey;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.5rem;

  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.star {
  color: #ec8d44;
}

/* Breakpoint per smartphone (portrait) */
@media (max-width: 480px) {
  .card img {
    height: 150px;
    object-fit: cover;
  }

  .form-label {
    display: none;
  }
}

.badge-container button {
  width: 200px;
  flex-grow: 1;
}
