:root {
  --logo-color: #00e167;
}

* {
  font-family: poppins, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.color-logo {
  color: var(--logo-color);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* LOADER */
.spinner-container {
  height: 200px;
  align-items: center;
}

.spinner-border {
  width: 4rem;
  height: 4rem;

  color: var(--logo-color);
}

.spinner-border-reviews {
  width: 1rem;
  height: 1rem;
  color: grey;
}

/* NAVBAR */
.login {
  margin: 0;
}

.login-text,
.navbar-user-name {
  font-size: 1rem;
  font-weight: normal;
}

.logout-icon {
  color: #ff0000;
}

.logout-btn {
  background-color: transparent;
  border: none;
}

.navbar-user-icon {
  background-color: grey;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.5rem;

  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}

/* HOMEPAGE */
.text-shadow {
  background-color: transparent;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.most-searched-properties {
  position: relative;
}

.img-homepage {
  height: 200px;
}

.logo-green {
  background-color: #0a8d48;
}

.arrows-btn {
  border: none;
  color: #a3a3a3;
  transition-duration: 300ms;
}

.arrows-btn:hover {
  border: none;
  color: #474747;

  transition-property: transform;
  transform: scale(1.2);
}

.arrows-btn:active {
  border: none;
  color: #474747;
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
}

.left-arrow {
  left: -3rem;
}

.right-arrow {
  right: -3rem;
}

.homepage-card {
  height: 100%;
}

.homepage-card-body {
  display: flex;
  flex-direction: column;
}

.homepage-card-text {
  flex-grow: 1;
}

.homepage-card-container a {
  text-decoration: none;
}
.homepage-card-container .property-type-card-text {
  text-align: end;
}

.homepage-card-container .likes-card-text {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  background-color: rgb(231, 231, 231);

  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.homepage-card-container .likes-card-text-search {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgb(231, 231, 231);
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.homepage-card-container .likes-card-text:hover {
  scale: 1.1;
}
.homepage-card-container .likes-card-text-search:hover {
  scale: 1.1;
}

.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 2px 2px 10px #888888;
}

/* ADVANCE SEARCH PAGE */
.page-link {
  background-color: #38393a;
  border-color: #212529;
  color: #00e167;
  font-size: 1.2rem;
}

.page-link:hover {
  background-color: #212529;
  color: #ffffff;
}

.page-item.active .page-link {
  background-color: #00e167;
  border-color: #00e167;
  color: #38393a;
}

.badge-container button {
  width: 100%;
  height: 100%;
}

.search-card,
.search-card-link,
.search-card-grid {
  height: 100%;
}

.card-body-search {
  display: flex;
  flex-direction: column;
}

.card-text.mq {
  flex-grow: 1;
}

/* ShowPage Image */

.size-image {
  border-radius: 7px;
  height: 100%;
  width: 100%;
}

.icon-style {
  font-size: 20px;
}

/* REVIEWS ITEMS */
.cards-review {
  height: 100%;
}

.review-user-photo {
  background-color: grey;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.5rem;

  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.star {
  color: #ec8d44;
}

.navbar .logo-navbar {
  width: 150px;
  margin-block: 10px;
  margin-left: 10px;
}

/* Homepage Carousel */
.homepage-carousel img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.homepage-carousel .carousel-caption2 {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border-start-end-radius: 0px;
  top: 10px;
  right: 10px;
  position: absolute;
  padding: 10px 50px;
  text-align: center;
}

/* STORE PROPERTIES  */
.custom-button {
  border-color: rgb(33 37 41);
  background-color: rgb(33 37 41);
}

.custom-button:hover {
  background-color: rgb(33 37 41);
  border-color: rgb(33 37 41);
  transform: scale(1.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button.custom-button:focus,
button.custom-button:active,
button.custom-button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  background-color: rgb(33 37 41) !important;
  border-color: rgb(33 37 41) !important;
}

/* Breakpoint per smartphone (portrait) */
@media (max-width: 480px) {
  .card img {
    height: 150px;
    object-fit: cover;
  }

  .form-label {
    display: none;
  }
}

/* Breackpoint xs-device */
@media (max-width: 576px) {
  .w-sm-device {
    width: 350px;
  }
}

/* Breackpoint xs-device */
@media (min-width: 576px) {
  .xs-device {
    width: 240px;
  }

  .w-sm-device {
    width: 350px;
  }
}

/* Breackpoint md-device */
@media (min-width: 768px) {
  .w-md-device {
    width: 350px;
  }
}

/* Breackpoint lg-device */
@media (min-width: 992px) {
  .w-lg-device {
    width: 500px;
  }
}
